body {
    background-color: #f5f7f8;
}
/* card css */
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
  
article {
    
    padding: 20px;
    background-color: white;
}
  
.auth {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
.thumb {
    padding-bottom: 10%;
    background-size: cover;
    background-position: center center;
 }
 
.read {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, cursive;
    text-align: right;
    text-decoration: none !important;
}

.read:hover {
    color: #999;
}
/* card end */

.post-show {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.post-show h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.btn-danger {
    display: inline;
    margin-left: 10px;
}

.post-show p {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .post-show p {
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.58;
        letter-spacing: -.003em;
        text-align: center;
    }
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
    background-color: white;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 100%;
}

.navbar-brand {
    float: none;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.panel-default {
    width: 60%;
    margin: 20px 10px !important;
}

@media only screen and (max-width: 600px) {
    .panel-default {
        width: 100%;
        margin: 20px auto !important;
    }
}

.text-right {
    float: right;
}

h2 {
    margin: 10px;
}

#editcomment {
    margin: 5px;
}

.formhead {
    text-align: center;
    font-family: Montserrat;
}

.navbar-brand {
    font-family: Cookie, cursive;
    font-size: 40px;
}

li a {
    font-family: Montserrat;
}

.frm {
    width: 40%;
    margin: 25px auto;
}

.back {
    font-family: Montserrat;
    color: #999;
}

.back:hover {
    text-decoration: none;
    color: #337ab7;
}