<% include ../partials/header %>
<div class="container">
  <div class="row display-flex">
    <% posts.forEach(function(post){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" src="<%= post.image %>">
            <div class="caption">
              <p><%= post.name %></p>  
            </div>
            <p><a href="/post/<%= post._id %>" class="btn btn-primary">Read Story</a></p>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<% include ../partials/footer %>